<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-8 mt-5">
      <div class="card">
        <div class="card-header bg-success">
          <h6>Employee List</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Sr No.</th>
                    <th>Name</th>
                    <th>Contact No.</th>
                    <th>EmailId</th>
                    <th>city</th>
                    <th>state</th>
                    <th>pincode</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- control flow -->
                  @for (item of employeeList; track $index) {
                  <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.contactNo }}</td>
                    <td>{{ item.emailId }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.state }}</td>
                    <td>{{ item.pinCode }}</td>
                    <td class="text-center">
                      <button
                        class="btn btn-primary me-2"
                        (click)="onEdit(item)"
                      >
                        edit
                      </button>
                      <button
                        class="btn btn-danger"
                        (click)="onDelete(item.empId)"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5">
      <div class="card">
        <div class="card-header bg-success">New Employee</div>
        <div class="card-body">
          <form action="" [formGroup]="employeeForms">
            <div class="row">
              <div class="mb-3 col-12">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  formControlName="name"
                />
                <div class="text-danger">
                  @if(employeeForms.controls['name'].touched){
                  @if(employeeForms.controls['name'].errors?.['required']){
                  <span> Name is required</span>
                  } @if (employeeForms.controls['name'].errors?.['minlength']) {
                  <span>Minimum length must be 3 char</span>
                  } }
                </div>
              </div>
              <div class="col-6 mb-3">
                <label for="email">EmailId</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="emailId"
                />
                <div class="text-danger">
                  @if(employeeForms.controls['emailId'].touched){
                  @if(employeeForms.controls['emailId'].errors?.['required']){
                  <span>This field is required</span>
                  } @if (employeeForms.controls['emailId'].errors?.['email']) {
                  <span>Please enter a valid email</span>
                  } }
                </div>
              </div>
              <div class="col-6 mb-3">
                <label for="contact">Contact No.</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="contactNo"
                  maxlength="10"
                />
                <div class="text-danger">
                  @if(employeeForms.controls['contactNo'].touched){
                  @if(employeeForms.controls['contactNo'].errors?.['required']){
                  This Field is Required
                  <span></span>
                  } @if
                  (employeeForms.controls['contactNo'].errors?.['minlength']) {
                  <span>The contact must be 10 digit long</span>
                  } }
                </div>
              </div>
              <div class="col-6 mb-3">
                <label for="city">City</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="city"
                />
                <div class="text-danger">
                  @if (employeeForms.controls['city'].touched) {
                  @if(employeeForms.controls['city'].errors?.['required']){
                  <span>This is a required field</span>
                  } }
                </div>
              </div>
              <div class="col-6 mb-3">
                <label for="state">State</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="state"
                />
                <div class="text-danger"></div>
                @if (employeeForms.controls['state'].touched) {
                @if(employeeForms.controls['state'].errors?.['required']){
                <span>This is a required field</span>
                } }
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="pin">Pin Code</label>
              <input
                type="text"
                class="form-control"
                formControlName="pinCode"
              />
              <div class="text-danger">
                @if (employeeForms.controls['pinCode'].touched) {
                @if(employeeForms.controls['pinCode'].errors?.['required']){
                <span>This is a required field</span>
                } @else if
                (employeeForms.controls['pinCode'].errors?.['minLength']) {
                <span>The pincode must be 10 digit long</span>
                } }
              </div>
            </div>
            <div class="col-12 mb-3">
              <label for="address">Address</label>
              <textarea
                name="address"
                id=""
                class="form-control"
                formControlName="address"
              ></textarea>
            </div>
            <div class="row">
              <div class="text-center">
                @if(employeeForms.controls['empId'].value == '0'){
                <button
                  class="btn btn-success me-2"
                  (click)="onSave()"
                  [disabled]="employeeForms.invalid"
                >
                  Save Employee
                </button>
                } @else {
                <button
                  class="btn btn-warning me-2"
                  (click)="onUpdate()"
                  [disabled]="employeeForms.invalid"
                >
                  update Employee
                </button>
                } @if (employeeForms.controls['empId'].value > 0) {
                <button
                  class="btn btn-danger"
                  type="button"
                  (click)="onCancel()"
                >
                  Cancel
                </button>
                } @else {
                <button
                  class="btn btn-secondary"
                  type="button"
                  (click)="createForm()"
                >
                  Reset
                </button>
                }
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
